JWT_SECRET=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
NUXT_VERIFIER_TOKEN=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
NUXT_ISSUER_TOKEN=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
NUXT_PUBLIC_API_BASE_URL=https://pba.dev.eduwallet.nl
NUXT_PUBLIC_IMAGE_BASE_URL=https://pba.dev.eduwallet.nl
NUXT_PUBLIC_AGENT_BASE_URL=https://agent.dev.eduwallet.nl
NUXT_PUBLIC_VERIFIER_BASE_URL=https://verifier.dev.eduwallet.nl
NUXT_PUBLIC_DEPLOYMENT_STAGE=dev
NUXT_PUBLIC_DEPLOYMENT_COOKIEDOMAIN=localhost
