PORT=2002
JWT_SECRET=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
NUXT_VERIFIER_TOKEN=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
NUXT_ISSUER_TOKEN=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
NUXT_PUBLIC_API_BASE_URL=https://pba.dev.eduwallet.nl
NUXT_PUBLIC_IMAGE_BASE_URL=https://pba.dev.eduwallet.nl
NUXT_PUBLIC_AGENT_BASE_URL=https://agent.dev.eduwallet.nl
NUXT_PUBLIC_VERIFIER_BASE_URL=https://verifier.dev.eduwallet.nl
NUXT_PUBLIC_DEPLOYMENT_STAGE=dev
NUXT_PUBLIC_DEPLOYMENT_COOKIEDOMAIN=localhost
NUXT_OIDC_PROVIDERS_OIDC_REDIRECT_URI=http://portal.dev.eduwallet.nl/auth/oidc/callback
NUXT_OIDC_PROVIDERS_OIDC_AUTHORIZATION_URL=https://connect.test.surfconext.nl/oidc/authorize
NUXT_OIDC_PROVIDERS_OIDC_TOKEN_URL=https://connect.test.surfconext.nl/oidc/token
NUXT_OIDC_PROVIDERS_OIDC_OPENID_CONFIGURATION=https://connect.test.surfconext.nl/.well-known/openid-configuration
NUXT_OIDC_PROVIDERS_OIDC_CLIENT_SECRET=CLIENT_SECRET
NUXT_OIDC_PROVIDERS_OIDC_CLIENT_ID=CLIENT_ID
NUXT_OIDC_SESSION_SECRET=X
NUXT_OIDC_TOKEN_KEY=X
NUXT_OIDC_AUTH_SESSION_SECRET=X
NUXT_EDUID_ISSUER_TOKEN=X
NUXT_PUBLIC_EDUID_ISSUER_BASE_URL=X